.navbar{
    align-items: center;
    justify-content: center;
}

.navbar .btn-home {
    position: fixed;
    left: 10px;
    cursor: pointer;
}
.imgDefault {
    width: 40px;
    height: 40px;

}

.title {
    font-size: 28px;
}
.navbar img {
    margin-right: 20px;
}
