.category-body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category button{
    background-color: transparent;

    color: #fff;
    border: none;
    margin: 50px;
}

.category button:hover{
    background: linear-gradient(329.54deg, #003641 0%, #00AE9D 100%);
    opacity: 0.5;
    border-radius: 5px;
}


.category h3 {
    margin-top: 10px;
    font-size: 14;
}