.category-body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category button{
    background-color: transparent;

    color: #fff;
    border: none;
    margin: 50px;
}


.category h3 {
    margin-top: 10px;
    font-size: 14;
}