.control-painel {
    margin: 0 auto;
    font-size: 18px;
    color: #fff;
    top: 2px;
    
}


.control-painel .btn-ctrl {
    border-radius: 100%;
    border: none;
    background-color: #C9D200;
    padding: 5px;
    margin: 10px;
}

.control-painel .btn-exit {
    border-radius: 100%;
    border: none;
    background-color: lightcoral;
    padding: 5px;
    margin-left: 10px;
}


.clickable {
    cursor: pointer;
    
}

.disable {
    cursor: not-allowed;
    color: lightgray;
}